<div class="container">
	<div class="col-xs-12">
		<hr>
		<!--Сделано с <i class="fa fa-tw fa-heart" style="color:#d33;"></i>-->
	</div>
</div>

<!-- script type="text/javascript" src="/js/create_cover.js"></script -->


</body>
</html>