<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Авторизация</title>
	<link rel="shortcut icon" href="/land/favicon.ico">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="/js/main.js"></script>
</head>
<body>


<div class="container">
	<div class="col-xs-6 col-xs-offset-3">
		<div class="panel panel-default" style="margin-top: 30px;">
			<div class="panel-body text-center">
				<p style="font-size: 15px;">Для работы с сайтом необходимо авторизироваться<br> через свой профиль Вконтакте.</p>

				<a href="/auth/vk" class="btn btn-primary">Войти через Вконтакте</a>
			</div>
		</div>
	</div>
</div>




