
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Динамические обложки Вконтакте</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Сервис создания динамических обложек для сообщест Вконтакте" />


<!-- Facebook and Twitter integration -->
<!-- <meta property="og:title" content=""/>
<meta property="og:image" content=""/>
<meta property="og:url" content=""/>
<meta property="og:site_name" content=""/>
<meta property="og:description" content=""/>
<meta name="twitter:title" content="" />
<meta name="twitter:image" content="" />
<meta name="twitter:url" content="" />
<meta name="twitter:card" content="" /> -->

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="shortcut icon" href="/land/favicon.ico">

<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

<!-- Animate.css -->
<!-- <link rel="stylesheet" href="/land/css/animate.css"> -->
<!-- Icomoon Icon Fonts-->
<!-- <link rel="stylesheet" href="/land/css/icomoon.css"> -->
<!-- Simple Line Icons -->
<!-- <link rel="stylesheet" href="/land/css/simple-line-icons.css"> -->
<!-- Owl Carousel -->
<!-- <link rel="stylesheet" href="/land/css/owl.carousel.min.css"> -->
<!-- <link rel="stylesheet" href="/land/css/owl.theme.default.min.css"> -->
<!-- Bootstrap  -->
<link rel="stylesheet" href="/land/css/bootstrap.css">

<!-- 
Default Theme Style 
You can change the style.css (default color purple) to one of these styles

1. pink.css
2. blue.css
3. turquoise.css
4. orange.css
5. lightblue.css
6. brown.css
7. green.css

-->
<!-- <link rel="stylesheet" href="/land/css/style.css"> -->
<link rel="stylesheet" href="/land/css/blue.css">
<link rel="stylesheet" href="/land/css/my_style.css?2">


<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">




<!-- Modernizr JS -->
<script src="/land/js/modernizr-2.6.2.min.js"></script>
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
<script src="/land/js/respond.min.js"></script>
<![endif]-->

</head>
<body>
<header role="banner" id="fh5co-header">
	<div class="container">
		<!-- <div class="row"> -->
			<nav class="navbar navbar-default">
			<div class="navbar-header">
			<!-- Mobile Toggle Menu Button -->
			<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
				<a class="navbar-brand" href="/">Live-cover.ru</a> 
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="#" data-nav-section="gb1"><span>Главная</span></a></li>
				<li><a href="#" data-nav-section="gb2"><span>Возможности</span></a></li>
				<li><a href="#" data-nav-section="gb3"><span>Преимущества</span></a></li>
				<li><a href="#" data-nav-section="gb4"><span>Примеры обложек</span></a></li>
				<li><a href="#" data-nav-section="gb5"><span>Цены</span></a></li>
				</ul>
			</div>
			</nav>
		<!-- </div> -->
	</div>
</header>


<div id="gb1" data-section="gb1">
	<div class="container" style="position: relative;">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center">
				<div class="fh5co-owl-text-wrap">
					<div class="fh5co-owl-text" style="color: #fff;">
						<h1>Конструктор динамических обложек</h1>
						<h3>Создай динамическую обложку всего за 1 минуту.<br>Загрузи фон, выбери и настрой нужные виджеты.</h3>

						<p><a href="/cabinet/" class="btn btn-primary btn-lg">Попробовать бесплатно</a></p>

						<div class="site_scrn">
							<img src="/land/images/site_scrn.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>






<div id="gb2" data-section="gb2">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2>Возможности нашего сервиса</h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<p>
							Вы можете добавить на обложку для вашей группы любой из имеющихся у нас виджетов. <br>
							Список виджетов постоянно пополняется новыми! Уже доступны:
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row row-bottom-padded-sm widgets">
			<div class="col-xs-12 col-sm-4">
				<div class="widget_2">
					<span class="widget_name"><i class="fa fa-tw fa-users"></i> <b>Последние подписавшиеся</b></span>
					<p>Выводит до 3-х последних подписавшихся на сообщество</p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4">
				<div class="widget_2">
					<span class="widget_name"><i class="fa fa-tw fa-comments-o"></i> <b>Активные комментаторы</b></span>
					<p>Выводит до 3-х пользователей которые оставили больше всех комментариев</p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4">
				<div class="widget_2">
					<span class="widget_name"><i class="fa fa-tw fa-bullhorn"></i> <b>Активные репостеры</b></span>
					<p>Выводит до 3-х пользователей которые сделали больше всего репостов</p>
				</div>
			</div>


			
			<div class="col-xs-12 col-sm-4">
				<div class="widget_2">
					<span class="widget_name"><i class="fa fa-tw fa-thumbs-o-up"></i> <b>Активные лайкеры</b></span>
					<p>Выводит до 3-х пользователей которые поставили больше всего лайков</p>
				</div>
			</div>
			
			<div class="col-xs-12 col-sm-4">
				<div class="widget_2">
					<span class="widget_name"><i class="fa fa-tw fa-calendar"></i> <b>Дата и время</b></span>
					<p>Добавляет дату/время в любом удобном вам формате</p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4">
				<div class="widget_2">
					<span class="widget_name"><i class="fa fa-tw fa-clock-o"></i> <b>Обратный отсчёт</b></span>
					<p>Стандартный таймер обратного отсчёта с множеством настроек внешнего вида</p>
				</div>
			</div>



			<div class="col-xs-12 col-sm-4">
				<div class="widget_2">
					<span class="widget_name"><i class="fa fa-tw fa-cloud"></i> <b>Погода сегодня</b></span>
					<p>Информация о текущей погоде в любом городе планеты</p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4">
				<div class="widget_2">
					<span class="widget_name"><i class="fa fa-tw fa-money"></i> <b>Курс валют</b></span>
					<p>Доступны самые популярные курсы валют на СНГ, а также основные криптовалюты</p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4">
				<div class="widget_2">
					<span class="widget_name"><i class="fa fa-tw fa-gift"></i> <b>Именинники</b></span>
					<p>Выводит до 3-х подписчиков сообщества у которого сегодня день рождения</p>
				</div>
			</div>


			<div class="clearfix">
				<div class="col-md-4 col-md-offset-4">
					<button type="button" id="show_all_widgets" class="btn btn-default btn-block">Показать все</button>
				</div>
			</div>


			<div id="all_widgets">
				
				<div class="col-xs-12 col-sm-4">
					<div class="widget_2">
						<span class="widget_name"><i class="fa fa-tw fa-text-height"></i> <b>Произвольный текст</b></span>
						<p>Просто добавляет на обложку указанный вами текст</p>
					</div>
				</div>

				<div class="col-xs-12 col-sm-4">
					<div class="widget_2">
						<span class="widget_name"><i class="fa fa-tw fa-external-link"></i> <b>Текст по ссылке</b></span>
						<p>Позволяет выводить на обложку текст с вашего сайта. Например, онлайн вашего сервера</p>
					</div>
				</div>


				
				<div class="col-xs-12 col-sm-4">
					<div class="widget_2">
						<span class="widget_name"><i class="fa fa-tw fa-users"></i> <b>Количество подписчиков</b></span>
						<p>Выводит кол-во подписчиков сообщества на его обложку</p>
					</div>
				</div>

				<div class="col-xs-12 col-sm-4">
					<div class="widget_2">
						<span class="widget_name"><i class="fa fa-tw fa-user"></i> <b>Пользователь по ID</b></span>
						<p>Виджет может быть использован для вывода победителей в конкурсах и т.д.</p>
					</div>
				</div>

				<div class="col-xs-12 col-sm-4">
					<div class="widget_2">
						<span class="widget_name"><i class="fa fa-tw fa-picture-o"></i> <b>Картинка по ссылке</b></span>
						<p>Позволяет выводить на обложку стикеры из VK или любые другие изображения</p>
					</div>
				</div>



				<div class="col-xs-12 col-sm-4">
					<div class="widget_2">
						<span class="widget_name"><i class="fa fa-tw fa-car"></i> <b>Пробки</b></span>
						<p>Выводит на обложку данные об уровне пробок в городе</p>
					</div>
				</div>

				<div class="col-xs-12 col-sm-4">
					<div class="widget_2">
						<span class="widget_name"><i class="fa fa-tw fa-rss"></i> <b>Последние новости (RSS)</b></span>
						<p>Транслирует на обложку новости из любого сайта на котором есть RSS-канал</p>
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-4">
					<div class="widget_2">
						<span class="widget_name"><i class="fa fa-tw fa-money"></i> <b>Сбор средств</b></span>
						<p>Виджет для DonationAlerts, который добавляет на обложку индикатор сбора средств (как у стримеров)</p>
					</div>
				</div>


				
				<div class="col-xs-12 col-sm-4">
					<div class="widget_2">
						<span class="widget_name"><i class="fa fa-tw fa-bar-chart"></i> <b>Статистика донатов</b></span>
						<p>Многофункциональный виджет для DonationAlerts. Выводит любую статистику по донатам (как у стримеров)</p>
					</div>
				</div>

				<div class="col-xs-12 col-sm-4">
					<div class="widget_2">
						<span class="widget_name"><i class="fa fa-tw fa-youtube-play"></i> <b>Последнее видео (YouTube)</b></span>
						<p>Выводит на обложку последнее загруженное на канал видео</p>
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-4">
					<div class="widget_2">
						<span class="widget_name"><i class="fa fa-tw fa-link"></i> <b>Видео по ссылке (YouTube)</b></span>
						<p>Выводит любое видео по ссылке. Можно показывать метрики видео</p>
					</div>
				</div>

				

				<div class="col-xs-12 col-sm-4">
					<div class="widget_2">
						<span class="widget_name"><i class="fa fa-tw fa-info-circle"></i> <b>Об канале (YouTube)</b></span>
						<p>Выводит аватар канала, его название, а также метрики (подписчики, просмотры, видео)</p>
					</div>
				</div>



				<div class="clearfix"></div>
				<div class="col-md-4 col-md-offset-4">
					<a href="/cabinet/" class="btn btn-primary btn-block">Попробовать бесплатно</a>
				</div>
			</div>

		</div>
		
	</div>
</div>






<div id="gb3" data-section="gb3">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2 class="">Наши преимущества</h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<p>Причины по которым нас выбирают</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row row-bottom-padded-sm">
			<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 advantage">
				<div class="advantage-icon"><i class="fa fa-tw fa-thumbs-o-up"></i></div>
				<div class="advantage-desc">
					<h3>Просто</h3>
					<p>
						Вам не нужны специальные знания. Весь процесс создания обложки проходит в "визуальном редакторе" и состоит буквально из 2-х этапов
					</p>
				</div>	
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 advantage">
				<div class="advantage-icon"><i class="fa fa-tw fa-eye"></i></div>
				<div class="advantage-desc">
					<h3>Визуальный редактор</h3>
					<p>
						Удобный визуальный редактор позволяет удобно управлять виджетами на вашей обложке, а видеть реальную обложку еще до ее сохранения
					</p>
				</div>
			</div>
			<div class="clearfix visible-sm-block visible-xs-block"></div>
			<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 advantage">
				<div class="advantage-icon"><i class="fa fa-tw fa-lock"></i></div>
				<div class="advantage-desc">
					<h3>100% безопасность</h3>
					<p>
						Мы не запрашиваем пароли от вашей страницы. Обновление обложки происходит через официальный API Вконтакте
					</p>
				</div>
			</div>
			<div class="clearfix visible-md-block"></div>
			<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 advantage">
				<div class="advantage-icon"><i class="fa fa-tw fa-money"></i></div>
				<div class="advantage-desc">
					<h3>Честная цена</h3>
					<p>
						Никаких помесячных подписок и т.д. Каждый платит только за обновления обложки
					</p>
				</div>
			</div>
			<div class="clearfix visible-sm-block visible-xs-block"></div>
			<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 advantage">
				<div class="advantage-icon"><i class="fa fa-tw fa-bolt"></i></div>
				<div class="advantage-desc">
					<h3>Тестовый период</h3>
					<p>
						Вы можете до 3-х дней совершенно бесплатно и без ограничений пользоваться нашим сервисом
					</p>
				</div>
			</div>
			<!--div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 advantage">
				<div class="advantage-icon"><i class="icon-heart"></i></div>
				<div class="advantage-desc">
					<h3>Готовые шаблоны обложек</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit laboriosam quasi exercitationem, iusto voluptate. Animi omnis veritatis provident? Dolorem, molestiae.</p>
				</div>
			</div-->
			<div class="clearfix visible-sm-block visible-xs-block"></div>
		</div>
	</div>
</div>




<div id="gb4" data-section="gb4">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2>Обложки наших пользователей</h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 subtext">
						<p>Посмотрите какие обложки каждый наш пользователь может сделать самостоятельно</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6"><img src="/land/images/covers/1.jpg"></div>
			<div class="col-md-6"><img src="/land/images/covers/2.jpg"></div>
			<div class="col-md-6"><img src="/land/images/covers/3.jpg"></div>
			<div class="col-md-6"><img src="/land/images/covers/4.jpg"></div>
			<div class="col-md-6"><img src="/land/images/covers/5.jpg"></div>
			<div class="col-md-6"><img src="/land/images/covers/6.jpg"></div>
		</div>
	</div>
</div>



<div id="gb5" data-section="gb5">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2>Сколько стоит?</h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 subtext">
						<p>Наши пользователи платят непосредственно за обновление обложки. Такая система оплаты нам кажется наиболее лояльной, т.к. в таком случае каждый платит соразмерно нагрузке которую создаёт на наши сервера.</p>
					</div>
				</div>
			</div>
		</div>



		<div class="row row-5" id="fh5co-pricing">
			<div class="col-lg-2 col-md-3 col-sm-4">
				<div class="price-box">
					<div class="price">75<small>руб.</small></div>
					<hr>
					<ul class="pricing-info">
						<li>21.600 обновлений</li>
						<li>-</li>
					</ul>
				</div>
			</div>

			<div class="col-lg-2 col-md-3 col-sm-4">
				<div class="price-box">
					<div class="price">150<small>руб.</small></div>
					<hr>
					<ul class="pricing-info">
						<li>43.200 обновлений</li>
						<li>-</li>
					</ul>
				</div>
			</div>

			<div class="col-lg-2 col-md-3 col-sm-4">
				<div class="price-box">
					<div class="price">300<small>руб.</small></div>
					<hr>
					<ul class="pricing-info">
						<li>86.400 обновлений</li>
						<li>-</li>
					</ul>
				</div>
			</div>

			<div class="col-lg-2 col-md-3 col-sm-4">
				<div class="price-box popular">
					<div class="popular-text">Лучшая цена</div>
					<div class="price">500<small>руб.</small></div>
					<hr>
					<ul class="pricing-info">
						<li>144.000 обновлений</li>
						<li>+ 7.200 бонус</li>
					</ul>
				</div>
			</div>

			<div class="col-lg-2 col-md-3 col-sm-4 col-md-offset-3 col-lg-offset-0">
				<div class="price-box">
					<div class="price">1000<small>руб.</small></div>
					<hr>
					<ul class="pricing-info">
						<li>288.000 обновлений</li>
						<li>+ 28.800  бонус</li>
					</ul>
				</div>
			</div>

			<div class="col-lg-2 col-md-3 col-sm-4">
				<div class="price-box">
					<div class="price">2500<small>руб.</small></div>
					<hr>
					<ul class="pricing-info">
						<li>720.000 обновлений</li>
						<li>+ 108.000 бонус</li>
					</ul>
				</div>
			</div>


			
		</div>






		 <div class="row">
			<div class="col-xs-12 text-center">
				<p>
					У нас вы можете настроить обновление каждые 1, 5, 15, 30, 60 минут или использовать обновления по событиям. <br>
					Тем самым самостоятельно решая сколько платить за работу обложки.
				</p>
				<p>43.200 обновлений равняется месяцу работы обложки, при обновлении раз в минуту</p>
			</div>
		</div> 

		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<a href="/cabinet/" class="btn btn-primary btn-block">Попробовать бесплатно</a>
			</div>
		</div>

	</div>
</div>














<div id="gb6" data-section="gb6">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2>Часто задаваемые вопросы</h2>
			</div>
		</div>


		<div class="row row-bottom-padded-sm widgets">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="row">

					<div class="col-sm-6">
						<div class="faq">
							<h3 class="question">Что такое динамическая обложка?</h3>
							<div class="answer">
								Динамическая обложка Вконтакте — это своего рода аналог «шапки на сайте», но только для  вашего сообщества. На обложку вы можете выводить практически любую информацию, при этом данная информация будет постоянно обновляться.
							</div>
						</div>
						<div class="faq">
							<h3 class="question">Зачем нужна динамическая обложка?</h3>
							<div class="answer">
								Область применения динамической обложки в вк очень широка. Основные направления это повышение активности в сообществах,  что достигается благодаря нашим «социальным» виджетам (активный комментатор, репостер, лайкер). Также вы можете повысить конверсии в продажи, информируя в обложке о проходящей акции и размещая наш виджет «таймер обратного отсчёта». Или конверсия в подписки с виджетом «последние подписчики».
							</div>
						</div>
						<div class="faq">
							<h3 class="question">Насколько это безопасно для моих сообществ?</h3>
							<div class="answer">
								Сервис на 100% безопасен для вашей страницы и ваших сообществ. Мы не просим ваш пароль от аккаунта, а обновление обложки осуществляем через официальный API Вконтакте. Также при регистрации мы не запрашиваем больше данных чем это необходимо для работы с сервисом.
							</div>
						</div>


					</div><!-- end col -->

					


					<div class="col-sm-6">
						<div class="faq">
							<h3 class="question">Что можно вывести на динамическую обложку?</h3>
							<div class="answer">
								С помощью нашего сервиса вы можете выводить на динамическую обложку практически любую информацию. В данный момент у нас реализовано более 15 виджетов, которые найдут применение в сообществе любой тематики. Посмотреть доступные виджеты вы можете чуть выше. Кроме того мы всегда открыты к идеям от наших пользователей и с радостью реализуем их идеи.
							</div>
						</div>
						<div class="faq">
							<h3 class="question">Почему именно мы?</h3>
							<div class="answer">
								В большинстве предложений в нашей нише вам предлагаю купить скрипт динамической обложки, что влечёт за собой множество дополнительных трат (хостинг и поддержка), а также сильные ограничения на последующие редактирования обложки.

								<br><br>В отличии от таких продавцов мы предоставляем вам полноценный визуальный редактор, в котором вы можете за считанные минуты создать динамическую обложку на свой вкус и в любой момент её изменить. При этом нет никаких дополнительных трат и заморочек с настройкой скриптов на хостинге.
							</div>
						</div>


					</div><!-- end col -->




				</div>
			</div>

		

		</div>
	</div>
</div>














<footer id="footer" role="contentinfo">
	<div class="container">
		<!-- <div class="row row-bottom-padded-sm">
			<div class="col-md-12">
				<p class="copyright text-center">Сделано с <i class="fa fa-heart" style="color:#d33;"></i></p>
			</div>
		</div> -->
		<div class="row">
			<div class="col-md-12 text-center">
				<ul class="social social-circle">
					<li><a href="https://vk.com/live__cover" target="_blank" rel="nofollow"><i class="fa fa-tw fa-vk"></i></a></li>
				</ul>
				<p style="margin-top: 15px;">
					<a href="//www.free-kassa.ru/" rel="nofollow" target="_blank"><img src="//www.free-kassa.ru/img/fk_btn/16.png"></a>
				</p>
			</div>
		</div>
	</div>
</footer>




<!-- jQuery -->
<script src="/land/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/land/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/land/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/land/js/jquery.waypoints.min.js"></script>
<!-- Owl Carousel -->
<script src="/land/js/owl.carousel.min.js"></script>


<!-- Main JS (Do not remove) -->
<script src="/land/js/main.js"></script>

</body>
</html>